<h2>New Book</h2>
<!--form for adding new book with post method-->
<form action="/books" method="POST">
    <!--using form fields file instead of input tags directly-->
    <%- include('_form_fields') %>
    <!--cancel button-->
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>