<h2 class="page-header">New Book</h2>
<!--form for adding new book with post method-->
<form action="/books" method="POST">
    <!--using form fields file instead of input tags directly-->
    <%- include('_form_fields') %>
    <!--cancel button-->
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>