<!--using a form to delete because if we use get then google will delete data when it indexes our site-->
<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>