:root{
    --base-color-hue: 105;
    --danger-color-hue-offset: 180;
    --danger-color-hue: calc(var(--base-color-hue) - var(--danger-color-hue-offset));
    --bg-color-dark: hsl(var(--base-color-hue), 33%, 15%);
    --bg-color-light: hsl(var(--base-color-hue), 37%, 39%); 
    --text-color-light: hsl(var(--base-color-hue), 97%, 87%);
}