<h2 class="page-header">Edit Author</h2>
<!--form for editing author with put method-->
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <!--using form fields file instead of input tags directly-->
    <%- include('_form_fields') %>
    <!--cancel button-->
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors/<%= author.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>